<div class="column content-area wysiwyg">
	<div class="admonitionblock note notice3">
		<table>
			<tbody>
				<tr>
					<td class="icon"><i class="fa icon-note" title="Note"></i></td>
					<td class="content">3.2版本沿用的是 adonis-china.org 翻译团队的版本。同時修正一些漏译。因为从4.0版本开始官方文档改动较大，所以采用全新翻译的形式，一些专业词汇可能会和3.x版本有所不同，请开发者注意！3.x版本不再推荐使用，但是旧文档依然可以用于学习 Adonis.Js 及其开发历史！</td>
				</tr>
			</tbody>
		</table>
	</div>
	<h1> {{ doc.title }} </h1>
	{{{ htmlContents }}}
</div>